@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$white: #fff;
$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

body {
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.data-reactid {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.main-app-container {
  padding-top: 2em;
  width: 260px;
}

.main-app-nav {
  font-size: 2em;
  text-align: center;
  align-self: center;
  white-space: nowrap;
  margin-bottom: 12px;
  font-weight: 600;
}

.counter-num-label {
  color: $accent-orange;
  padding-top: 1em;
  font-size: 3em;
  text-align: center;
  width: 100%;
}

label .data-reactid {
  margin-top: 12px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

label {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  word-wrap: break-spaces;
  white-space: pre-wrap;
}

span {
  align-self: center;
  font-size: 18pt;
}

input {
  width: 94%;
  height: 18px;
}



.counter-even-label {
  padding-top: 1em;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}


button {
    height: 64px;
}

button:hover {
  background-color: $accent-gray;
}

button>span {
  align-self: center;
  text-align: center;
  height: 95%;
  width: 90%;
}


 a {
    text-decoration: none;
    color: $accent-gray;
  }

